<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bvrit.bvritcalllog">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="BVRIT HYDERABAD"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="BVRIT HYDERABAD | Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".DepartmentActivity" />
        <activity android:name=".CseActivity" />
        <activity android:name=".facilities" />
        <activity android:name=".aboutBVRITH" />
        <activity android:name=".mission" />
        <activity android:name=".vision" />
        <activity android:name=".founder" />
        <activity android:name=".chairman" />
        <activity android:name=".principal" />
        <activity android:name=".sves" />
        <activity android:name=".aboutfacilities" />
        <activity android:name=".transport" />
        <activity android:name=".wise" />
        <activity android:name=".library" />
        <activity android:name=".atl" />
        <activity android:name=".hostels" />
        <activity android:name=".canteen" />
        <activity android:name=".EceActivity" />
        <activity android:name=".EeeActivity" />
        <activity android:name=".ItActivity" />
        <activity android:name=".BshActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="BVRIT Hyderabad"></activity>
    </application>

</manifest>